{% extends 'base.html.twig' %}

{% block title %}Chatbot{% endblock %}

{% block body %}
				<h1> &nbsp &nbsp &nbsp LETS CHAT WITH YODA!</h1>
                	
                <div id="newDivs">
                
                </div>
                
                <div id="writing">
                	<div class="container darker">
                		<span class="input-group-btn">
                			Yoda is writing...
                		</span>
                	</div>
                </div>	
                
                <div class="container">
                </br>
                 <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                                        <span class="input-group-btn">  </span>
                                        <button class="btn btn-success" id="btn-chat">SEND</button>
                                        
                                    </div>
                                    
                                     <div class="input-group">
                                        <span class="input-group-btn">
                                        <button class="btn btn-secondary btn-sm" id="btn-clear">Clear conversation</button>
                                        </span>
                                    </div>
                                    
                    </div>
                    
                </div>
				
				
				
				
{% endblock %}

{% block javascripts %}
  
  
{% endblock %}