{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
				<h1>Yodabot is here!</h1>
				
				
				
                	
                <div id="newDivs">
                
                	{% for answer in conversation.answers %}
                	<div class="container darker">
                     <p><b>Yodabot</b>: {{ answer.message }}</p>
                    </div>
                    {% endfor %}
                
                </div>	
                				
                
                
                <div class="container">
                 <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm chat_input" 										placeholder="Write your message here..." />
                                        <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" id="btn-chat">SEND</button>
                                        </span>
                                    </div>
                                </div>
                </div>
				
				
				
				
{% endblock %}

{% block javascripts %}
  
  
{% endblock %}