<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to ChatBot{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        
        <script>

        $('#writing').hide();
        
          $('#btn-chat').click(function() {
        	   var text = $('#btn-input').val();

        	   var inputText = text;

        	   $("#btn-chat").attr("disabled", true);

        	   var noResults;

				if (text != "") {

					$('#btn-input').val("");

					$('#newDivs').append('<div class="container darker">  <p><b>Me</b>:  ' + text + '</p></div>');

					$('#writing').show();
					
					$.ajax({
			              type: "POST",
			              url: "http://localhost/yodabot/public/postmessage",
			              dataType: "json",
			              data: {
			            	  message: text
			               },
			              success: function (data) {

							// console.log(data);

							 $.each( data['answers'][0], function( key, val ) {

								 if (key == 'message') {
									 text = val;
								}

								 if (key == 'flags') {
									 noResults = val;
								}	


							});


							 if (noResults == "no-results" ){
								 countNotFind = countNotFind + 1;
								 //console.log(countNotFind);
							 }
							 
							 if(inputText.includes("force"))  {
								 $('#newDivs').append('<div class="container darker">  <p><b>Yoda</b>: The <b>Force</b> is in this list of movies : </p></div>');
							     for (i = 1; i < 6; i++) { 
										setTimeout($.ajax({
								              type: "POST",
								              url: "https://swapi.co/api/films/" + i,
								              dataType: "json",
								              success: function (data) {
												 $.each( data, function( key, val ) {
													 //console.log("val "+val);
													 if (key = 'name') {
														 text = val;
														 return false;
													}
												});

												 $('#newDivs').append('<div class="container darker"><li>'+ text +'</li></div>');
												 return false;
								              },
								              error: function (textStatus, errorThrown) {
								            	  //alert("error");
								            	  console.log("error");
			            	  						console.log(errorThrown);
								            	  $("#btn-chat").attr("disabled", false);
												  $('#writing').hide();
								              }
								          }) , 600); 
							 		}
							 		
							     $("#btn-chat").attr("disabled", false);
							     $('#writing').hide();
							}
							else if (countNotFind < 2) {

								 $('#newDivs').append('<div class="container darker">  <p><b>Yoda</b>: ' + text + '</p></div>');
								 $('#writing').hide();
								 $("#btn-chat").attr("disabled", false);
								 
							}
							 else if(countNotFind == 2) {

								 $('#writing').show();
								 $("#btn-chat").attr("disabled", true);

									countNotFind = 0;

									var min=0
									var max=3 
									var random = Math.floor(Math.random() * (+max - +min)) + +min; 
									var ramdomListStarwars = ["planets","people","starships"];

									$('#newDivs').append('<div class="container darker">  <p><b>Yoda</b>: No results or answer for that I could find my young apprentice, but here you have a Starwars list of '+ ramdomListStarwars[random] +' : </p></div>');
									var count = 0;
									
									for (i = 1; i < 11; i++) { 
										
										//console.log(i);
										setTimeout($.ajax({
								              type: "POST",
								              url: "https://swapi.co/api/"+ ramdomListStarwars[random] +"/" + i,
								              dataType: "json",
								              success: function (data) {

												 $.each( data, function( key, val ) {

													 //console.log("val "+val);

													 if (key = 'name') {
														 text = val;
														 return false;
													}

												});

												 $('#newDivs').append('<div class="container darker"><li>'+ text +'</li></div>');
												 return false;
								              },
								              error: function (textStatus, errorThrown) {
								            	  //alert("error");
								            	  console.log("error");
			            	  				      console.log(errorThrown);
								            	  //$('#writing').hide();
								              }
								          })   , 500);  
									}

									$('#writing').hide();
									$("#btn-chat").attr("disabled", false);		
									
								}
			                  
			              },
			              error: function (textStatus, errorThrown) {

			            	  console.log("error");
			            	  console.log(errorThrown);
			            	  
			            	  //alert("error");
			            	  countNotFind = countNotFind + 1;

			            	  $('#writing').hide();
				              
			              }
			          });

				}
				   
        	});

          var countNotFind = 0;

          $('#btn-clear').click(function() {
        	  $('#newDivs').empty();
          });


          var input = document.getElementById("btn-input");
          
          input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
             event.preventDefault();
             document.getElementById("btn-chat").click();
            }
          });

        	
  		</script>
  
  
</html>
